<div class="container">
  <div class="center">
    <div>
      <div>
        <h1>Fyp Management System</h1>
      </div>

      <div>
        <h4>Problem Statement</h4>
        <p>
         {{customerDetails.probState}}




        </p>
      </div>
      <br />

      <div>
        <h4>Fyp Scope</h4>
        <p>
          {{customerDetails.scope}}
        </p>
      </div>
      <br />


      <br />
      <br />
      <div>
        <h4>Literature Review</h4>
        <p>
          {{customerDetails.litreview}}

        </p>
      </div>
      <br />

      <div>
        <h4>Description</h4>
        <p>
          {{customerDetails.Description}}

        </p>

        <br />


        <br />

              </div>
      <br />
    </div>
  </div>
</div>
