.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom: 40px !important;
  font-weight: 600 !important;
}

.margins{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn{
  width: 150px;
  height: 40px;
  margin-top: 20px;
}
.exp{
  margin-top: 10px;
  margin-right: 108px;
}
.ng-invalid.ng-touched {
  border-color: red;
}

.error-block {
  color: red;
}

