<div>
  <div class="row">
      <div class="col">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-8 exp">
    <div class="center">
      <form [formGroup]="proposalForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
        <h2>Project Proposals</h2>
        <hr/>
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">Project Title </label>
          <input type="text" class="form-control" id="validationCustom01" value=""  placeholder="Project Title" required  formControlName="ProjTitle">
          <span *ngIf="!ProjTitle.valid && (ProjTitle.touched || userSubmitted)"
          class="error-block">
            Please provide name!
          </span>
        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label">Project name</label>
          <input type="text" class="form-control" id="validationCustom02" value="" placeholder="Project Name" required  formControlName="ProjName">
          <span *ngIf="!ProjName.valid && (ProjName.touched || userSubmitted)"
          class="error-block">
            Please provide Project Name!
          </span>
        </div>
        <div class="col-md-12">
          <label>Project Description</label>
          <textarea
          class="form-control"
          rows="3"
          placeholder="Write your project description here"
          formControlName="ProjDesc"></textarea>
          <span *ngIf="!ProjDesc.valid && (ProjDesc.touched || userSubmitted)"
          class="error-block">
            Please provide Project Description!
          </span>
        </div>

        <div class="col-md-12">
          <label>Team Members</label>
          <select id="inputState" class="form-control"  formControlName="TeamMember">
            <span *ngIf="!TeamMember.valid && (TeamMember.touched || userSubmitted)"
            class="error-block">
              Please provide Team Number!
            </span>
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>

          </select>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
              <label>Group Member 1</label>
              <input type="text" class="form-control" placeholder="Name"  formControlName="GroupMem1"/>
              <span *ngIf="!GroupMem1.valid && (GroupMem1.touched || userSubmitted)"
              class="error-block">
                Please provide Group Member 1!
              </span>
            </div>
            <div class="form-group col-md-3">
              <label>Group Member 2</label>
              <input type="text" class="form-control" placeholder="Name"  formControlName="GroupMem2"/>
              <span *ngIf="!GroupMem2.valid && (GroupMem2.touched || userSubmitted)"
              class="error-block">
                Please provide Group Member 2!
              </span>
            </div>
            <div class="form-group col-md-3">
              <label>Group Member 3</label>
              <input type="text" class="form-control" placeholder="Name" formControlName="GroupMem3"/>
            </div>
            <div class="form-group col-md-3">
              <label>Group Member 4</label>
              <input type="text" class="form-control" placeholder="Name"  formControlName="GroupMem4"/>
            </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
            <label>CMS ID 1</label>
            <input type="text" class="form-control" placeholder="Id" formControlName="cmsId1"/>
            <span *ngIf="!cmsId1.valid && (cmsId1.touched || userSubmitted)"
            class="error-block">
              Please provide Group CMS1!
            </span>
          </div>
          <div class="form-group col-md-3">
            <label>CMS ID 2</label>
            <input type="text" class="form-control" placeholder="Id" formControlName="cmsId2"/>
            <span *ngIf="!cmsId2.valid && (cmsId2.touched || userSubmitted)"
            class="error-block">
              Please provide Group CMS2!
            </span>
          </div>
          <div class="form-group col-md-3">
            <label>CMS ID 3</label>
            <input type="text" class="form-control" placeholder="Id"  formControlName="cmsId3"/>
          </div>
          <div class="form-group col-md-3">
            <label>CMS ID 4</label>
            <input type="text" class="form-control" placeholder="Id" formControlName="cmsId4"/>
          </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Supervisor Name</label>
        <input type="text" class="form-control" placeholder="Name" formControlName="SupName"/>
        <span *ngIf="!SupName.valid && (SupName.touched || userSubmitted)"
        class="error-block">
          Please provide Group Supervisor Name!
        </span>
      </div>

      <div class="form-group col-md-6">
          <label for="inputCity">Co-Supervisor Name</label>
          <input type="text" class="form-control" placeholder="Name"  formControlName="CoSupname"/>
          <span *ngIf="!CoSupname.valid && (CoSupname.touched || userSubmitted)"
          class="error-block">
            Please provide CO Supervisor Name!
          </span>
        </div>
    </div>

        <div class="col-12">
          <button [disabled]="proposalForm.invalid" class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>

    </div>
      </div>
    </div>


  </div>




