<div class="wrapper" style="height:100%;">
  <!-- Sidebar  -->
  <nav id="sidebar" >
      <div class="sidebar-header">
          <h3>FYP Management</h3>
      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a routerLinkActive="list-item-active" routerLink="/ideas">Project Ideas</a>

          </li>
          <li>
              <a routerLinkActive="list-item-active" routerLink="/proposals">Project Proposals</a>
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/weekly" data-toggle="collapse" aria-expanded="false" >Weekly Meetings</a>
              <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Weekly Meetings</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul> -->
          </li>
          <li>
              <a routerLinkActive="list-item-active" routerLink="/chat">Group Chat</a>
          </li>
          <li>
              <a routerLinkActive="list-item-active" routerLink="/internal">Internal Request</a>
          </li>
      </ul>


  </nav>

  <!-- Page Content  -->
  <div id="content">

      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>


          </div>
      </nav> -->


